<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  系统管理</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/BootstrapScripts/bootstrapJs")
    @Styles.Render("~/BootstrapCss/bootstrapCss")
    @Styles.Render("~/Content/controlcss")


</head>
<body>

    @*//顶部菜单*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*//LOG标题*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NINESKY 系统管理","Index","Home",new { area = "" },new { @class = "navbar-brand" })
                
            </div>
            
            @*//导航菜单及登录*@
            <div class="navbar-collapse collapse">
                

                @*//导航菜单*@
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","User")"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
                    <li><a href="@Url.Action("Index","Role")"><span class="glyphicon glyphicon-user"></span> 角色管理</a></li>
                    <li><a href="@Url.Action("Index","Admin")"><span class='glyphicon glyphicon-lock'></span> 管理员</a></li>
                    <li><a><span class="glyphicon glyphicon-list"></span> 栏目设置</a></li>
                    <li><a><span class="glyphicon glyphicon-cog"></span> 网站设置</a></li>
                </ul>
                @*//用户登录*@
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("MyInfo","Admin")">
                            <span class="glyphicon glyphicon-envelope">
                            </span> @Context.Session["Accounts"].ToString()
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("Logout","Admin")"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*//内容页*@
    <div class="container body-content">
       
        @*//左栏目 -- 右内容*@
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">@RenderSection("SideNav",false)</div>
            <div class="col-lg-9 col-md-9 col-sm-8">@RenderBody()</div>
        </div>

        <hr />

    </div>

    @*//底部*@
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            @*@RenderSection("scripts1",false)  占位符*@
        </footer>
    </div>



    @*//后加载 提高响应速度*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*//子视图动态添加样式和js脚本*@
    @RenderSection("style",false)
    @RenderSection("scripts",false)


    @*@if(IsSectionDefined("scripts"))
        {
            @RenderSection("scripts",false);
        }
        else
        {
            <p>head的默认内容</p>
        }*@

</body>
</html>