@{
    ViewBag.Title = "管理员";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}

@*动态引用样式脚本*@
@section style{
    @Styles.Render("~/BootstrapCss/bootstrapCss")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/BootstrapScripts/bootstrapJs")

    <script src="~/Scripts/moment.js"></script>@*JavaScript 日期处理类库  -没有则不显示数据*@

    <script type="text/javascript">

        $(document).ready(function () {

           // function () {
            //    alert("我的第一个jQuery代码!");
            //};
            //表格
            var $table = $("#admingrid");
            $table.bootstrapTable({
                toolbar: "#toolbar",
                showRefresh: true,
                showColumns: true,
                showFooter: true, 
                method: "post",
                url: "@Url.Action("ListJson")",
                columns: [
                    { title: "state", checkbox: true },
                    { title: "ID", field: "AdministratorId" },
                    { title: "帐号", field: "Accounts" },
                    { title: "登录时间", field: "LoginTime", formatter: function (value) { return moment(value).format("YYYY-MM-DD HH:mm:ss") } },
                    { title: "登录IP", field: "LoginIP" },
                    { title: "创建时间", field: "CreateTime", formatter: function (value) { return moment(value).format("YYYY-MM-DD HH:mm:ss") } },
                    { title: "操作", field: "AdministratorId", formatter: function (value, row, index) { return "<a href=\"javascript:void(0)\" onclick=\"ResetPassword(" + value + ",'" + row.Accounts + "')\">重置密码</a>" } }
                ]
            });
            //表格结束

            //工具栏
            //添加按钮
            $("#btn_add").click(function () {

                //==创建对话框对象addDialog==
                var addDialog = new BootstrapDialog({


                    title: "<span class='glyphicon glyphicon-plus'></span>添加管理员",
                    //对话框内容
                    message: function (dialog)
                    {
                        var $message = $('<div></div>');
                        var pageToLoad = dialog.getData('pageToLoad');
                        $message.load(pageToLoad);

                        return $message;
                    },

                    //加载远程的数据信息
                    data: {
                        'pageToLoad': '@Url.Action("AddPartialView")'
                    },
                    buttons: [

                   //添加按钮
                        {
                            icon: "glyphicon glyphicon-plus",
                            label: "添加",
                            action: function (dialogItself) {
                                $.post($("form").attr("action"), $("form").serializeArray(), function (data) {
                                    if (data.Code == 1) {
                                        BootstrapDialog.show({
                                            message: data.Message,
                                            buttons: [{
                                                icon: "glyphicon glyphicon-ok",
                                                label: "确定",
                                                action: function (dialogItself) {
                                                    $table.bootstrapTable("refresh");
                                                    dialogItself.close();
                                                    addDialog.close();
                                                }
                                            }]

                                        });
                                    }
                                    else BootstrapDialog.alert(data.Message);
                                }, "json");
                                $("form").validate();
                            }
                        },
                    //关闭按钮
                    {
                        icon: "glyphicon glyphicon-remove",
                        label: "关闭",
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                });
                //==创建对话框对象addDialog结束==


                addDialog.open();
            });
            //添加按钮结束

            //删除按钮
            $("#btn_del").click(function () {
                var selected = $table.bootstrapTable('getSelections');
                if ($(selected).length > 0) {
                    BootstrapDialog.confirm("确定删除选中的" + $(selected).length + "位管理员", function (result) {
                        if (result) {
                            var ids = new Array($(selected).length);
                            $.each(selected, function (index, value) {
                                ids[index] = value.AdministratorID;
                            });
                            $.post("@Url.Action("DeleteJson","Admin")", { ids: ids }, function (data) {
                                if (data.Code != 0) {
                                    BootstrapDialog.show({
                                        message: data.Message,
                                        buttons: [{
                                            icon: "glyphicon glyphicon-ok",
                                            label: "确定",
                                            action: function (dialogItself) {
                                                $table.bootstrapTable("refresh");
                                                dialogItself.close();
                                            }
                                        }]

                                    });
                                }
                                else BootstrapDialog.alert(data.Message);

                            }, "json");
                        }
                    });
                }
                else BootstrapDialog.warning("请选择要删除的行");
            });
            //删除按钮结束


        });
    </script>
}



@*左侧菜单*@

@section SideNav{@Html.Partial("SideNavPartialView")}

@*右侧上导航*@
<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home"></span>  @Html.ActionLink("首页","Index","Home")</li>

    <li class="active">@Html.ActionLink("管理员","Index","Admin")</li>

</ol>

@*右侧下*@
<div id="toolbar" class="btn-group" role="group">
    <button id="btn_add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 添加</button>
    <button id="btn_del" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> 删除</button>
</div>
<table id="admingrid"></table>



